@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background-color: #1f2937;
  padding: 0 175px;
}

ul  {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #eee;
  margin: 0 16px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  font-size: 18px;
 
}
.header-container1, .header-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-container2 {
  margin: 100px 0;
}

button, .call-to-action {
  background-color: #3882f6;
  color: white;
}

button {
  border-radius: 5px;
  padding: 0.5em 2em;
  font-weight: bold;
}

.header-container2-left-title {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
  margin: 0;
}

.header-container2-text, .header-links {
  font-size: 18px;
  color: #e5e7eb;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-header {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

.information-content {
  display: flex;
  align-items: space-between;
  padding: 0 16px;
}

.information-container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  align-items: center;
}

.quote {
  display: flex;
  flex-direction: column;
}

.quote-container{
  padding: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.quote-attribution {
  font-weight: bold;
  align-self: flex-end;
}